*{
    margin: 0;
    padding: 0;
}
main{
    width: 60%;
    margin: auto!important;
}

h3{
    text-align: center;
    margin: 2rem 0;
}

.ejercicio-contenedor{
    background-color: rgb(214, 214, 214);
    padding: 1rem;
}

.ejercicio-contenedor:last-of-type{
    margin-bottom: 2rem;
}

.consigna{
    margin-bottom: .5rem;
    font-weight: 700;
}