.header-content{
    display: flex;
    justify-content: space-around;
    background-color: lightcoral;
    padding: 1rem 0;
    .menu{
        display: flex;
        align-items: center;
        a{
            margin-right: 1rem;
            color: white;
        }
    }
}
